.ui-blog-grid {
    margin-top: 48px;
}

h2.heading {
    margin-bottom: 1.75rem;
}
code[class*="language-"], pre[class*="language-"]
{
    color: #290064;
    font-weight: normal;
}

.token.atrule, .token.attr-value, .token.keyword {
    color: #591294;
}

.btn-primary:hover {
    color: #fff!important;
    background-color: #290064;
    border-color: #290064;
}
.btn-primary {
    color: #fff;
    background-color: #290064;
    border-color: #290064;
    border-radius: 8px;
}
